[Unit]
Description=fix to prevent system from wake up from suspend via lid open/close

[Service]
ExecStart=/bin/sh -c '/bin/echo PWRB > /proc/acpi/wakeup'
ExecStart=/bin/sh -c '/bin/echo SLPB > /proc/acpi/wakeup'
ExecStart=/bin/sh -c '/bin/echo LID0 > /proc/acpi/wakeup'
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
